/* reset browser */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* css for website */

.wrapper {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.menu-content {
    width: 1234px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.menu-link {
    text-decoration: none;
    color: #d2d2d7;
}

.menu-link:hover {
    color: white;
    background-color: rgb(58, 56, 56);
}

.menu-img {
    margin-right: 20px;
}

.menu {
    height: 100%;
    font-size: 15px;
    text-align: center;
    padding: 24px;
}

.menu-iphone {
    width: 88px;
}

.menu-ipad {
    width: 82px;
}

.menu-mac {
    width: 75px;
}

.menu-watch {
    width: 130px;
}

.menu-airpod {
    width: 100px;
}

.menu-accessories {
    width: 108px;
}

.menu-service {
    width: 99px;
}

.menu-discount {
    width: 125px;
}

.menu-installment {
    width: 100px;
}

.menu-search {
    width: 67px;
    font-size: 20px;
    color: #d2d2d7;
    padding: 22px;
}

.menu-cart {
    width: 67px;
    font-size: 20px;
    color: #d2d2d7;
    padding: 22px;
    position: relative;
    text-align: center;
}

.menu-number {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    color: black;
    font-size: 14px;
    position: absolute;
    margin-left: 15px;
    margin-top: -28px;
}

.space {
    height: 64px;
}

.nav-menu {
    width: 1234px;
    font-size: 15px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.nav-content {
    color: #777777;
    text-decoration: none;
}

.product-content {
    background-color: #f5f5f7;
    padding-top: 25px;
}

.product {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product-avatar {
    width: 500px;
    height: 500px;
    margin-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.product-info {
    width: 600px;
}

.product-info-head {
    display: flex;
    justify-content: space-between;
}

.product-info-head-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.product-info-head-star img {
    width: 17px;
    height: 17px;
    margin-top: 10px;
}

.compare-product {
    width: 15px;
    height: 15px;
    border: 1px solid #2988e9;
    border-radius: 100%;
    text-align: center;
    line-height: 12px;
    color: #2988e9;
    margin-right: 10px;
    cursor: pointer;
}

.compare-product:hover {
    width: 15px;
    height: 15px;
    border: 1px solid #2988e9;
    border-radius: 100%;
    text-align: center;
    line-height: 12px;
    color: #2988e9;
    margin-right: 10px;
    background-color: #2988e9;
}

.product-info-body {
    border-top: 1px solid #d2d2d7;
    border-bottom: 1px solid #d2d2d7;
    margin-top: 20px;
    padding-bottom: 35px;
}

.product-info-head-right {
    display: flex;
    margin-top: 35px;
}

.product-info-price {
    display: flex;
    padding-top: 30px;
}

.product-info-price-old {
    color: #7b7b7c;
    font-size: 18px;
    text-decoration: line-through;
    line-height: 25px;
}

.product-info-price-new {
    font-size: 1.5rem;
    color: #0066cc;
    margin-left: 10px;
    font-weight: bold;
}

.box-color {
    margin-right: 0.7rem;
}

.product-info-color {
    display: flex;
    margin-top: 20px;
}

.selected-color {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    border: 1px solid #0066cc;
}

.box-color:hover {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    border: 1px solid #0066cc;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 2px 0 0 2px;
    cursor: pointer;
}

.color-gray {
    background-color: #b1b3b6;
}

.color-silver {
    background-color: #e3e5e3;
}

.product-info-memory {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
}

.memory-item {
    width: 73px;
    height: 38px;
    background-color: white;
    margin-right: 0.7rem;
    line-height: 37px;
    border-radius: 10%;
    cursor: pointer;
    color: #86868b;
}

.memory-item:hover {
    width: 73px;
    height: 38px;
    background-color: #f5f5f7;
    margin-right: 0.7rem;
    line-height: 35px;
    border-radius: 10%;
    cursor: pointer;
    border: 1px solid #0066cc;
    color: black;
}

.selected-memory {
    width: 73px;
    height: 38px;
    background-color: #f5f5f7;
    margin-right: 0.7rem;
    line-height: 35px;
    border-radius: 10%;
    cursor: pointer;
    border: 1px solid #0066cc;
    color: black;
}

.product-info-footer {
    width: 475px;
    margin: 0 auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    justify-content: space-between;
    margin-top: 15px;
}

.add-to-cart {
    width: 230px;
    height: 48px;
    background-color: #c7daef;
    color: #0066cc;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}

.pay {
    width: 230px;
    height: 48px;
    background-color: white;
    color: black;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}

.gift-icon {
    width: 23px;
    height: 25px;
}

.discount-information {
    width: 100%;
    background-color: #ffffff;
    margin-top: 45px;
    border-radius: 1.5%;
}

.discount-information-head {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #efefef;
    display: flex;
}

.discount-information-icon {
    margin-left: 20px;
}

.discount-information-text {
    line-height: 35px;
    margin-left: 20px;
}

.discount-information-body {
    width: 520px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
    color: #3a3a3a;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.store {
    width: 100%;
    background-color: #ffffff;
    margin-top: 45px;
    border-radius: 1.3%;
    padding: 25px 0 33px 0;
}

.store-content {
    width: 550px;
    margin: 0 auto;
}

#select-city {
    width: 100%;
    height: 47px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 5px 5px 5px 5px;
    border-color: #ced4da;
}

option {
    font-weight: bold;
    font-size: 15px;
}

.store-border {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 2%;
    padding: 13px 0 13px 0;
}

.store-border-content {
    width: 500px;
    margin: 0 auto;
}

.store6 {
    border-bottom: none !important;
}

.store-address {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3a3a3a;
    font-weight: bold;
}

.store-phone {
    margin-bottom: 15px;
}

.store-footer {
    border-top: 1px solid #e1e1e1;
    font-size: 13px;
    color: #3a3a3a;
    margin-top: 20px;
}

.store-footer p {
    margin-top: 20px;
}

.store-phone span {
    margin-left: 3px;
    font-weight: bold;
}

.store-info {
    border-bottom: 1px solid #e1e1e1;
}

.regis-form {
    background-color: #f2f2f2;
}

.regis-title {
    text-align: center;
}

.regis-email {
    width: 537px;
    height: 38px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    font-size: 13px;
}

.btn-regis {
    width: 175px;
    height: 40px;
    background-color: #0066cc;
    border-radius: 30px 30px 30px 30px;
    color: white;
}

.btn-regis:hover {
    width: 175px;
    height: 40px;
    background-color: #0066cc;
    border-radius: 30px 30px 30px 30px;
    color: white;
}

.submit-email {
    margin-top: 30px;
    text-align: center;
}

.regis-form {
    padding: 100px 0 123px 0;
}

.footer {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-content {
    padding: 45px 0 70px 0;
}

.col {
    flex: none;
    justify-content: space-between;
}

.first-col {
    width: 282px;
}

.sec-col {
    display: flex;
    width: 815px;
}

.footer-text {
    width: 100%;
    color: rgb(206 206 213);
    font-size: 15px;
    line-height: 25px;
}

.footer-title {
    color: #d2d2d7;
    font-size: 18px;
    margin-bottom: 30px;
}

.list-content {
    color: #86868b;
    font-size: 15px;
}

li {
    margin-bottom: 20px;
}

ul {
    display: block;
}

svg {
    margin-right: 17px;
}

.footer-end {
    border-top: 1px solid #565656;
    padding-bottom: 25px;
}

.footer-address {
    width: 700px;
    color: #565656;
    font-size: 13px;
    margin-top: 25px;
}

.footer-img {
    margin-top: 25px;
}

.list-content-focus {
    color: #86868b;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}